*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height:100vh;
    /* background-color: aqua; */
}
#Start_Button{
 width: 13%;
 height:10vmin;
 background-color:skyblue;
 margin-left: 42%;
 margin-top: -1%;
 border: none;
 font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vmin;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px skyblue;
}
#Start_Button:hover{
    background-color: skyblue;
    cursor: pointer;
    color:white;
}
.Introduction{
    width: 100%;
    height:50%;
    /* background-color: green; */
    padding-left: 20%;
    padding-top: 1%;
}
#typewriter{
    font-size: 5vmin;
    line-height: 13vmin;
    padding-left: 10%;
    padding-top: 3%;
}
.intropage{
    width: 60%;
    height:50vmin;
    /* background-color: red; */
    margin-left: 20%;
    margin-top: 5%;
    overflow: hidden;
}
.intropage_image{
    width: 100%;
    height:50%;
    /* background-color: aqua; */
}
#introimage{
    width: 30%;
    height: 100%;
    margin-left: 32%;
}
#iconarrow{
    margin-left: 5%;
}